%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:content => "text/javascript", "http-equiv" => "Content-Script-Type"}/
%meta{:category => "ruby; setup"}/
%link{:rel => "stylesheet", :type => 'text/css', :href => 'stylesheets/default.css'}/
%link{:rel => "stylesheet", :type => 'text/css', :href => 'stylesheets/oink.css'}/
